<div class="content">
  <h2>Rules</h2>
  <ol>
    <li>Code can be in C/C++/Java/Pythonv2.7/Pythonv3. No other language will be accepted.</li>
    <li>The participant will be awarded full points for every test case passed and partial points otherwise.</li>
    <li>The ranking is done as follows:</li>
    <li>The one with the highest score is ranked first.</li>
    <li>In case if 2 or more persons have the same score, then they are ranked by whoever obtained the total points first.</li>
    <li>A live points table will be maintained so that the participant can check his/her ranking</li>
    <li>If any malicious activity like submitting the duplicate code is detected the user account will be deleted without prior notice.</li>
    <li>Rules are subject to change at any point in time.</li>
  </ol>
</div>
