<div class="content">
  <h2>All Submissions status</h2>
  <table class="table table-responsive">
    <tr>
      <th>User</th>
      <th>Problem</th>
      <th>Time</th>
      <th>Language</th>
      <th>Verdict</th>
    </tr>
    <tbody *ngIf="recent_submissions">
      <tr *ngFor="let s of recent_submissions">
        <td>
          <img src="{{ s.picture }}" alt="" class="propic">
          {{ s.name }}
        </td>
        <td>
          {{ problems[s.pid-1] }}
        </td>
        <td>
          {{ s.time | date:'medium' }}
        </td>
        <td>
          {{ languages[s.lang] }}
        </td>
        <td>
          <span class="verdict verdict-{{ s.verdict }}">
            <i class="fa fa-check"></i>
          </span>
          {{ s.verdict }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
