table {
  font-size: 30px;
  color: #b9b9b9;

  td {
    padding: 14px 8px;

    @media (max-width: 700px) {
      font-size: 18px;
    }
  }

  .propic {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 1em;

    @media (max-width: 700px) {
      display: none;
    }
  }

  .verdict {

    @media (max-width: 700px) {
      display: none !important;

      &::before {
        content: "" !important;
        display: none !important;
      }
    }

    &::before {
      display: inline-block;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      text-align: center;
    }

    &.verdict-Pending {
      display: none;
    }
    &.verdict-WA, &.verdict-CE, &.verdict-TLE, &.verdict-RTE {

      i {
        display: none;
      }

      &::before {
        background-color: indianred;
        content: "!";
        font-size: 23px;
        position: relative;
        top: -2px;
      }
    }
    &.verdict-AC {
      background-color: #449e44;
      display: inline-block;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      text-align: center;
      position: relative;
      top: 3px;

      i {
        display: inline-block;
        position: relative;
        top: -8px;
        font-size: 17px;
        left: 1px;
      }

    }
  }
}
