.kryptos-submit {
  * {
    border-radius: 0;
    border: none;
  }
  input[type="text"] {
    background-color: #0f1112;
  }
  button {
    background-color: #b02d25;
    color: white;
  }
}

.bas-width {
  max-height: 350px;
  max-width: 500px;
  width: auto;

  @media (max-width: 700px) {
    width: 100%;
    max-height: auto;
    max-width: auto;
  }
}
