<div class="content">
  <h2>My Submissions status</h2>
  <table class="table table-responsive">
    <tr>
      <th>Problem</th>
      <th>Language</th>
      <th>Verdict</th>
    </tr>
    <tbody *ngIf="my_submissions">
      <tr *ngFor="let s of my_submissions">
        <td>
          {{ problems[s.pid-1] }}
        </td>
        <td>
          {{ languages[s.lang] }}
        </td>
        <td>
          <span class="verdict verdict-{{ s.verdict }}">
            <i class="fa fa-check"></i>
          </span>
          {{ s.verdict }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
