.user-auth,
.user-data {
  text-align: center
}

.user-data div {
  display: inline-block;
  margin-top: 3em;
  padding: 3em;
  border: 1px solid #1f1f1f;
  border-radius: 6px;
  -webkit-box-shadow: 0 13px 6px -10px #060606;
  box-shadow: 0 13px 6px -10px #060606
}

.user-data div img {
  width: 200px;
  height: 200px;
  margin: 1em 0;
  border-radius: 100%
}

.user-auth .btn {
  background-color: #0da085;
  border: 3px solid #0da085;
  color: #fff;
  border-radius: .3em;
  -webkit-box-shadow: 0 5px 8px rgba(23, 19, 19, .6);
  box-shadow: 0 5px 8px rgba(23, 19, 19, .6)
}

@media (max-width:700px) {
  .user-auth .btn {
    margin-top: 1em!important;
    margin-left: -2.6em
  }
}

.user-auth .btn:hover {
  background-color: #00705c;
  border: 3px solid #00705c;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, .9);
  box-shadow: 0 5px 7px rgba(0, 0, 0, .9)
}
