.row {
  @media (max-width: 700px) {
    margin: 0;
  }

  @media (min-width: 700px) {
    margin: 7em 0;
  }


  .col-lg-4 {

    &.inactive-game {
      opacity: 0.3;
    }

    @media (max-width: 1181px) and (min-width: 700px) {
      width: 36% !important;
      float: left;
      margin-left: 4em;
    }

    @media (max-width: 700px) {
      float: none;
      margin-bottom: 5em;
    }

    a {
      animation: fade-in 500ms 1;
      text-decoration: none;
      color: #383838;
      position: relative;

      span {
        font-size: 2.3em;
        line-height: 100%;
        color: #18a38a;
      }

      &:hover {
        color: #18a38a;
      }

      i {
        display: block;
        font-size: 75px
      }

      span.event-name {
        display: block;
      }

      span.rank-text {
        color: #3c3c3c;
        transform: rotate(-90deg);
        display: inline-block;
        margin-top: 0.3em;
        margin-left: -7px;
      }

      span.rank-value {
        font-size: 4.5em;
        position: absolute;
        margin-left: -11px;
        color: white;
        margin-top: 6px;
      }

      img {
        @media (min-width: 700px) {
          float: left;
          margin-right: 1.2em;
          animation: fade-in 1s 1;
          max-width: 100px;
          max-height: 100px;
        }
        @media (max-width: 700px) {
          width: 100px;
          margin-bottom: 1em;
        }
        @media (max-width: 1181px) and (min-width: 700px) {
          float: none;
          margin-bottom: 2em;
        }
      }

    }

      // &:nth-child(2) {
      //   img {
      //     float: left;
      //     margin-right: 1.2em;
      //   }
      // }
      //
      // &:nth-child(3) {
      //   img {
      //     float: right;
      //     margin-left: 1.2em;
      //   }
      //   span {
      //     float: right;
      //   }
      // }

    }
}
