@media (max-width:700px) {
  .row {
    margin: 0
  }
}

@media (min-width:700px) {
  .row {
    margin: 14em 0
  }
}

.row .col-lg-4.inactive-game {
  opacity: .3
}

@media (max-width:1181px) and (min-width:700px) {
  .row .col-lg-4 {
    width: 36%!important;
    float: left;
    margin-left: 4em
  }
}

@media (max-width:700px) {
  .row .col-lg-4 {
    float: none;
    margin-bottom: 5em
  }
}

.row .col-lg-4 a {
  -webkit-animation: fade-in .5s 1;
  animation: fade-in .5s 1;
  text-decoration: none;
  color: #383838;
  position: relative
}

.row .col-lg-4 a span {
  font-size: 2.3em;
  line-height: 100%;
  color: #18a38a
}

.row .col-lg-4 a:hover {
  color: #18a38a
}

.row .col-lg-4 a i {
  display: block;
  font-size: 75px
}

.row .col-lg-4 a span.event-name {
  display: block
}

.row .col-lg-4 a span.rank-text {
  color: #3c3c3c;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  margin-top: .3em;
  margin-left: -7px
}

.row .col-lg-4 a span.rank-value {
  font-size: 4.5em;
  position: absolute;
  margin-left: -11px;
  color: #fff;
  margin-top: 6px
}

@media (min-width:700px) {
  .row .col-lg-4 a img {
    float: left;
    margin-right: 1.2em;
    -webkit-animation: fade-in 1s 1;
    animation: fade-in 1s 1;
    max-width: 100px;
    max-height: 100px
  }
}

@media (max-width:700px) {
  .row .col-lg-4 a img {
    width: 100px;
    margin-bottom: 1em
  }
}

@media (max-width:1181px) and (min-width:700px) {
  .row .col-lg-4 a img {
    float: none;
    margin-bottom: 2em
  }
}
