<div class="dock">
  <div class="dock-inner">

    <!-- <img src="assets/images/dock.png" alt=""> -->

    <a href="/games/kryptos" [routerLink]="'/games/kryptos'">
      <img src="assets/images/dock/kry.png" alt="">
    </a>

    <a href="/games/hashinclude" [routerLink]="'/games/hashinclude'">
      <img src="assets/images/dock/hash2.png" alt="">
    </a>

    <a href="/games/echo" [routerLink]="'/games/echo'">
      <img src="assets/images/dock/ech2.png" alt="">
    </a>

    <a href="/games/dalalbull" [routerLink]="'/games/dalalbull'">
      <img src="assets/images/dock/bull5.png" alt="">
    </a>

  </div>
</div>
<div class="dock-fab">

  <a href="/games/kryptos" [routerLink]="'/games/kryptos'" tooltip="Kryptos" class="buttons">
    <img src="assets/images/dock/kry.png" alt="">
  </a>

  <a href="/games/hashinclude" [routerLink]="'/games/hashinclude'" tooltip="#include" class="buttons">
    <img src="assets/images/dock/hash2.png" alt="">
  </a>

  <a href="/games/flummox" [routerLink]="'/games/flummox'" tooltip="Flummox" class="buttons">
    <img src="assets/images/dock/flux.png" alt="">
  </a>

  <a href="/games/dalalbull" [routerLink]="'/games/dalalbull'" tooltip="Dalalbull" class="buttons">
    <img src="assets/images/dock/bull5.png" alt="">
  </a>

  <a href="/games/echo" [routerLink]="'/games/echo'" tooltip="Echo" class="buttons">
    <img src="assets/images/dock/ech2.png" alt="">
  </a>

  <a class="buttons main" tooltip="Play">
    <i class="fa fa-play"></i>
  </a>

</div>
