<div class="main-stock" *ngIf="!marketClosed">
  <i class="fa fa-times" (click)="onClose.emit(null);myTickerWs.close();"></i>
  <h2>Stock Info</h2>
  <h1>{{ stock }}</h1>
  <ul class="nav nav-tabs">
    <li [ngClass]="{'active': currentTab=='stock'}" (click)="switchTab($event, 'stock')"><a>Stock</a></li>
    <li [ngClass]="{'active': currentTab=='buy'}" (click)="switchTab($event, 'buy')"><a>Buy</a></li>
    <li [ngClass]="{'active': currentTab=='ss'}" (click)="switchTab($event, 'ss')"><a>Short Sell</a></li>
    <li [ngClass]="{'active': currentTab=='shares_in_hand'}" (click)="switchTab($event, 'shares_in_hand')"><a>Shares in hand</a></li>
    <!-- <li [ngClass]="{'active': currentTab=='sell'}" (click)="switchTab($event, 'sell')"><a>Sell</a></li>
    <li [ngClass]="{'active': currentTab=='sc'}" (click)="switchTab($event, 'sc')"><a>Short Cover</a></li> -->
  </ul>
  <div *ngIf="currentTab=='stock'">
    <div *ngIf="data">
      <br/>
      <div class="row">
        <div class="col-lg-6 align-right">Open</div>
        <div class="col-lg-6 value">{{ data.open_price }}</div>
      </div>
      <div class="row">
        <div class="col-lg-6 align-right">Current Price</div>
        <div class="col-lg-6 value">{{ data.current_price }}</div>
      </div>
      <div class="row">
        <div class="col-lg-6 align-right">High</div>
        <div class="col-lg-6 value">{{ data.high }}</div>
      </div>
      <div class="row">
        <div class="col-lg-6 align-right">Low</div>
        <div class="col-lg-6 value">{{ data.low }}</div>
      </div>
      <div class="row">
        <div class="col-lg-6 align-right">Change</div>
        <div class="col-lg-6 value">{{ data.change }}</div>
      </div>
      <div class="row">
        <div class="col-lg-6 align-right">Percentage Change</div>
        <div class="col-lg-6 value">
          <span *ngIf="data.change_per > 0" style="font-family: 'Roboto', Arial;">+</span>
          {{ data.change_per }}%
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 align-right">Trade Qty</div>
        <div class="col-lg-6 value">{{ data.trade_Qty }} Lakhs</div>
      </div>
      <div class="row">
        <div class="col-lg-6 align-right">Trade Value</div>
        <div class="col-lg-6 value">{{ data.trade_Value }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="currentTab=='buy'">
    <br/>
    <h3>Buy {{ stock }}</h3>
    <form (submit)="buyStock()">
      <div class="row">
        <div class="col-lg-4">
            <label for="quantity">Quantity</label>
            <br/>
            <input type="number" class="quantity-input" name="quantity" id="quantity" [(ngModel)]="quantity" (keyup)="updateTotalValue()">
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6 align-right">Base value</div>
            <div class="col-lg-6 value">{{ base_value }}</div>
          </div>
          <div class="row">
            <div class="col-lg-6 align-right">Brokerage</div>
            <div class="col-lg-6 value">{{ brokerage }}</div>
          </div>
          <div class="row">
            <div class="col-lg-6 align-right">Total value</div>
            <div class="col-lg-6 value">{{ total_value }}</div>
          </div>
          <div class="row">
            <div class="col-lg-6 align-right">Cash available</div>
            <div class="col-lg-6 value">{{ cash_available }}</div>
          </div>
        </div>
      </div>
      <div>
        <br/>
        <input type="checkbox" name="ifPending" id="ifPending" [checked]="ifPending" (change)="ifPending=!ifPending" />
        <label for="ifPending">Pending</label>
        <p class="pending-desc" [ngClass]="{'inactive': !ifPending}">Buy this stock only when price reaches: </p>
        <input type="text" [disabled]="!ifPending" class="quantity-input" name="pending" [(ngModel)]="pending">
      </div>
      <br/>
      <div class="row anthony">
        <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
        <input type="submit" class="btn btn-primary float-right bro-submit" value="Buy this Stock" [disabled]="disableButtons">
      </div>
    </form>
  </div>
  <div *ngIf="currentTab=='shares_in_hand'">
    <br/>
    <h3>{{ stock }} shares in hand</h3>
    <table class="table table-responsive" *ngIf="stock_in_hand && stock_in_hand.thisStock">
      <tr>
        <th>Type</th>
        <th>Shares in hand</th>
        <th>Current price</th>
        <th>Gain</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let sih of stock_in_hand.thisStock; let i=index">
        <td>{{ sih.type_of_trade }}</td>
        <td>{{ sih.share_in_hand }}</td>
        <td>{{ sih.current_price }}</td>
        <td>{{ sih.gain.toFixed(2) }}</td>
        <td>
          <a href="#" class="btn btn-info" (click)="show_sell_or_sc($event, sih)">
            {{ sih.type_of_trans }}
          </a>
        </td>
      </tr>
    </table>
    <div *ngIf="sell_sc_displayable">
      <form (submit)="sellOrShortCoverStock()">
        <div class="row">
          <div class="col-lg-6">
            <label for="">Type of transaction</label>
            <br/>
            <select class="form-control" name="type_of_trans" id="type_of_trans" [(ngModel)]="sell_sc_type">
              <option value="sell" selected>Sell</option>
              <option value="sc">Short Cover</option>
            </select>
            <br/>
            <label for="">Quantity</label>
            <br/>
            <input type="number" class="quantity-input" name="quantity" [(ngModel)]="quantity" value="0">
            <input type="checkbox" name="ifPending" id="ifPending" [checked]="ifPending" (change)="ifPending=!ifPending" />
            <label for="ifPending">Pending</label>
            <p class="pending-desc" [ngClass]="{'inactive': !ifPending}">Only when price reaches: </p>
            <input type="text" [disabled]="!ifPending" class="quantity-input" name="pending" [(ngModel)]="pending">
          </div>
        </div>
        <br/>
        <div class="row anthony">
          <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
          <input type="submit" class="btn btn-primary float-right bro-submit" value="Sell / SC this Stock" [disabled]="disableButtons">
        </div>
      </form>
    </div>
    <div *ngIf="!stock_in_hand">
      You have no transactions.
    </div>
  </div>
  <div *ngIf="currentTab=='ss'">
    <br/>
    <h3>Short sell {{ stock }}</h3>
    <form (submit)="shortSellStock()">
      <div class="row">
        <div class="col-lg-4">
            <label for="">Quantity</label>
            <br/>
            <input type="number" class="quantity-input" name="quantity" [(ngModel)]="quantity" (keyup)="updateTotalValue()">
            <br/>
            <input type="checkbox" name="ifPending" id="ifPending" [checked]="ifPending" (change)="ifPending=!ifPending" />
            <label for="ifPending">Pending</label>
            <p class="pending-desc" [ngClass]="{'inactive': !ifPending}">Short sell this stock only when price reaches: </p>
            <input type="text" [disabled]="!ifPending" class="quantity-input" name="pending" [(ngModel)]="pending">
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6 align-right">Base value</div>
            <div class="col-lg-6 value">{{ base_value }}</div>
          </div>
          <div class="row">
            <div class="col-lg-6 align-right">Brokerage</div>
            <div class="col-lg-6 value">{{ brokerage }}</div>
          </div>
          <div class="row">
            <div class="col-lg-6 align-right">Total value</div>
            <div class="col-lg-6 value">{{ total_value }}</div>
          </div>
          <div class="row">
            <div class="col-lg-6 align-right">Cash available</div>
            <div class="col-lg-6 value">{{ cash_available }}</div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row anthony">
        <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
        <input type="submit" class="btn btn-primary float-right bro-submit" value="Short sell this Stock" [disabled]="disableButtons">
      </div>
    </form>
  </div>
</div>
<div class="main-stock" *ngIf="marketClosed">
  <i class="fa fa-times" (click)="onClose.emit(null);myTickerWs.close();"></i>
  <h2 style="color: white; text-align: center;">
    <br/>
    <i class="fa fa-clock-o"></i>
    <br/>
    <br/>
    Market is closed.
    <br/>
    <br/>
  </h2>
</div>
