.main-stock {
  position: absolute;
  width: 98%;
  padding: 7px 17px;
  box-sizing: border-box;
  left: 0;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 4px;
  margin-bottom: 2em;

  table.table {
    font-size: 20px;
    color: lightgrey;
  }

  .nav {

    li {
      cursor: pointer;
    }

    li.active {
      a, a:hover {
        color: dimgrey;
      }
    }
    li:hover {
      a {
        color: dimgrey;
      }
    }
    a, a:hover {
      color: #e4e4e4;
    }
  }

  .fa.fa-times {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-top: 9px;
  }

  hr {
    border-top: 1px solid #343434;
  }

  h1 {
    font-size: 4em;
    color: #b4b4b4;
    margin-top: 0;
  }

  h2 {
    font-size: 3.5em;
    color: #c04a35;
  }

  .col-lg-6 {
    font-size: 30px;

    &.align-right {
      text-align: right;
      color: #6ce362;
    }
    &.value {
      color: white;
    }
  }

  label {
    color: lightgrey;
    font-size: 25px;
  }

  .quantity-input {
    background-color: transparent;
    border: none;
    font-size: 70px;
    display: block;
    color: #e9e9e9;
    width: 100%;
  }

  .quantity-input[disabled] {
    color: dimgrey;
  }

  .pending-desc {
    color: #c1c1c1;

    &.inactive {
      color: dimgrey;
    }
  }

  .success-msg {
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    font-family: "Raleway";
  }

  .anthony {
    margin-bottom: 1em;
    input[type=submit] {
      background: transparent;
      margin-right: 1em;

      &:hover {
        background: white;
        color: black;
      }
    }
  }

  .bro-submit {
    font-size: 26px;
  }
}
