<div class="top-banner">
  <img src="assets/images/dock/bull5-grey.png" alt="" class="game-icon">
  <h1>DALALBULL</h1>
  <div class="tabs">
    <a href="/games/dalalbull/rules" [routerLink]="'/games/dalalbull/rules'">Rules</a>
    <a href="/games/dalalbull" [routerLink]="'/games/dalalbull'">Play</a>
    <a href="/games/dalalbull/history" [routerLink]="'/games/dalalbull/history'">Transaction History</a>
    <a href="/games/dalalbull/ranklist" [routerLink]="'/games/dalalbull/ranklist'">Ranklist</a>
  </div>
  <div class="cb"></div>
</div>
<router-outlet></router-outlet>
<br/>
<br/>
<br/>
<br/>
