.upload-popup {
  width: 100%;
  border-radius: 4px;

  label {
    color: darkgrey;
    font-size: 1.6em;
  }

  .lang-select {
    border: 1px solid white;
    background: transparent;
    font-size: 2em;
    height: 2em;
    font-family: "Raleway";
  }

   .popup-container {
      padding-bottom: 20px;
      h1 {
        margin: 5px 0;
        font-weight: bold;
      }

      .drop-container {
        border: 3px dashed #848484;
        width: 100%;
        padding: 50px 0;
        border-radius: 7px;
        margin: 20px 0 0 0;

        h1 {
          width: 100%;
          display: block;
          color: #ca543c;
          font-weight: bold;
          font-size: 20px;
          text-align: center;
        }

        p {
          width: 100%;
          display: flex;
          justify-content: center;
          font-size: 15px;
          color: #CBCCD8;
          font-weight: bold;

          i {
            font-size: 5em !important;
            display: block;
          }

          span {
            display: block;
            float: left;
          }

        }
        &.is-drop-over {
          background: #252525;
          border-style: solid;
        }
        .upload-button {
          display: block;
          float: left;
          border: 1px solid white;
          outline: 0;
          cursor: pointer;
          margin-left: 4px;
          padding: 10px 18px 5px;
          font-size: 25px;

          &:hover {
            background: white;
            color: black;
          }

          input[type=file] {
            display: none;
          }
        }
      }
      .uploads {
        .upload-item {
          margin: 20px 0;
          .upload-item-top {
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            width: 100%;
            // height: 20px;
            position: relative;
            .filename {
              color: #ca543c;
              display: block;
              float: left;
            }
            .progress-data {
              color: #a29fc4;
              display: block;
              float: right;
              margin-right: 30px;
            }
            .x {
              display: block;
              width: 16px;
              height: 16px;
              color: #bc3428;
              font-size: 20px;
              position: absolute;
              right: 0;
              cursor: pointer;
              top: -2px;
            }
          }
          .progress-bar-container {
            width: 100%;
            height: 5px;
            border-radius: 2px;
            background: #D7D8D7;
            margin: 3px 0;
            position: relative;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            .bar {
              z-index: 1;
              padding: 0;
              margin: 0;
              border-radius: 2px;
              position: absolute;
              top: 0;
              left: 0;
              height: 6px;
              background: #ca543c;

              &.green {
                background: #93E777;
              }
            }
          }
        }
      }
    }
}

.recent-submissions {
  th {
    color: grey;
  }

  .verdict {

    &::before {
      display: inline-block;
      height: 15px;
      width: 15px;
      border-radius: 100%;
      text-align: center;
    }

    &.verdict-Pending {
      display: none;
    }
    &.verdict-WA, &.verdict-CE, &.verdict-TLE, &.verdict-RTE {

      i {
        display: none;
      }

      &::before {
        background-color: indianred;
        content: "!";
      }
    }
    &.verdict-AC {
      background-color: #449e44;
      display: inline-block;
      height: 15px;
      width: 15px;
      border-radius: 100%;
      text-align: center;

      i {
        display: inline-block;
        position: relative;
        top: -1px;
      }

    }

    i {
      font-size: 11px;
    }
  }

}
