<div class="game-status content">
  <div class="float-right status-data" *ngIf="myrank">
    <span class="red">RANK</span>
    <span class="white">{{ myrank.rank }}</span>
    <span class="red">POINTS</span>
    <span class="white">{{ myrank.points }}</span>
  </div>
  <div class="cb"></div>
</div>
<div class="game-content content">
  <div class="row">
    <div class="col-lg-9">
      <div class="problems">
        <div *ngIf="!question">
          <h1>Problems</h1>
          <div class="questions-list">
            <a href="/games/hashinclude/CSTRINGS" [routerLink]="['/games', 'hashinclude', 'CSTRINGS']">
              <div class="question">
                <div class="row">
                  <div class="col-lg-1" *ngIf="myrank">
                    <i class="fa fa-check q-status q-accepted" *ngIf="myrank.siva%2==1"></i>
                    <i class="fa fa-exclamation q-status q-rejected" *ngIf="myrank.siva%2==0"></i>
                  </div>
                  <div class="col-lg-7">
                    Complex Strings
                  </div>
                  <div class="col-lg-4 submissions" *ngIf="total_submissions">
                    50 points |
                    {{ total_submissions["1"] }} submissions
                  </div>
                </div>
              </div>
            </a>
            <a href="/games/hashinclude/PATTERNS" [routerLink]="['/games', 'hashinclude', 'PATTERNS']">
              <div class="question">
                <div class="row">
                  <div class="col-lg-1" *ngIf="myrank">
                    <i class="fa fa-check q-status q-accepted" *ngIf="myrank.siva%3==1"></i>
                    <i class="fa fa-exclamation q-status q-rejected" *ngIf="myrank.siva%3==0"></i>
                  </div>
                  <div class="col-lg-7">
                    Patterns
                  </div>
                  <div class="col-lg-4 submissions" *ngIf="total_submissions">
                    100 points |
                    {{ total_submissions["2"] }} submissions
                  </div>
                </div>
              </div>
            </a>
            <a href="/games/hashinclude/TRAVEL" [routerLink]="['/games', 'hashinclude', 'TRAVEL']">
              <div class="question">
                <div class="row">
                  <div class="col-lg-1" *ngIf="myrank">
                    <i class="fa fa-check q-status q-accepted" *ngIf="myrank.siva%5==1"></i>
                    <i class="fa fa-exclamation q-status q-rejected" *ngIf="myrank.siva%5==0"></i>
                  </div>
                  <div class="col-lg-7">
                    Travel them all
                  </div>
                  <div class="col-lg-4 submissions" *ngIf="total_submissions">
                    150 points |
                    {{ total_submissions["3"] }} submissions
                  </div>
                </div>
              </div>
            </a>
            <a href="/games/hashinclude/CANDY" [routerLink]="['/games', 'hashinclude', 'CANDY']">
              <div class="question">
                <div class="row">
                  <div class="col-lg-1" *ngIf="myrank">
                    <i class="fa fa-check q-status q-accepted" *ngIf="myrank.siva%7==1"></i>
                    <i class="fa fa-exclamation q-status q-rejected" *ngIf="myrank.siva%7==0"></i>
                  </div>
                  <div class="col-lg-7">
                    Candy Fight
                  </div>
                  <div class="col-lg-4 submissions" *ngIf="total_submissions">
                    150 points |
                    {{ total_submissions["4"] }} submissions
                  </div>
                </div>
              </div>
            </a>
            <a href="/games/hashinclude/EXARRAYS" [routerLink]="['/games', 'hashinclude', 'EXARRAYS']">
              <div class="question">
                <div class="row">
                  <div class="col-lg-1" *ngIf="myrank">
                    <i class="fa fa-check q-status q-accepted" *ngIf="myrank.siva%11==1"></i>
                    <i class="fa fa-exclamation q-status q-rejected" *ngIf="myrank.siva%11==0"></i>
                  </div>
                  <div class="col-lg-7">
                    EXCEL-lent Arrays
                  </div>
                  <div class="col-lg-4 submissions" *ngIf="total_submissions">
                    200 points |
                    {{ total_submissions["5"] }} submissions
                  </div>
                </div>
              </div>
            </a>
            <a href="/games/hashinclude/CLASSES" [routerLink]="['/games', 'hashinclude', 'CLASSES']">
              <div class="question">
                <div class="row">
                  <div class="col-lg-1" *ngIf="myrank">
                    <i class="fa fa-check q-status q-accepted" *ngIf="myrank.siva%13==1"></i>
                    <i class="fa fa-exclamation q-status q-rejected" *ngIf="myrank.siva%13==0"></i>
                  </div>
                  <div class="col-lg-7">
                    Classes in MEC
                  </div>
                  <div class="col-lg-4 submissions" *ngIf="total_submissions">
                    200 points |
                    {{ total_submissions["7"] }} submissions
                  </div>
                </div>
              </div>
            </a>
            <a href="/games/hashinclude/GARLAND" [routerLink]="['/games', 'hashinclude', 'GARLAND']">
              <div class="question">
                <div class="row">
                  <div class="col-lg-1" *ngIf="myrank">
                    <i class="fa fa-check q-status q-accepted" *ngIf="myrank.siva%17==1"></i>
                    <i class="fa fa-exclamation q-status q-rejected" *ngIf="myrank.siva%17==0"></i>
                  </div>
                  <div class="col-lg-7">
                    Garland of Love
                  </div>
                  <div class="col-lg-4 submissions" *ngIf="total_submissions">
                    300 points |
                    {{ total_submissions["6"] }} submissions
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="question">
          <div *ngIf="question=='CSTRINGS'" class="active-question">
            <h1>Problem</h1>
            <p>
              Uno is trying to solve a puzzle. The task is very simple. He is given 2 tables and is asked to merge the two after interchanging the rows and columns of the second table . The merging is to happen in such a way that the resultant table has as many number of rows and columns as there are in the individual tables. Also the entry in resultant table should be such that the letters are progressively interleaved and the elements are taken in alternate orders from each table.
            </p>
            <h3>Input Format</h3>
            <p>
              Line 1: Number of test cases<br/>
              Line 2: Order of the matrices (mxm) <br/>
              Line 3: row1 of matrix 1 <br/>
              Line 4: row2 of matrix 1<br/>
              Line m+2: rowm of matrix 1 <br/>
              Line m+3: row1 of matrix 2<br/>
              Line m+4: row2 of matrix 2<br/>
              Line 2xm: rowm of matrix 2
            </p>
            <h3>Output Format</h3>
            <p>
              Row1<br/>
              Row2<br/>
              ...<br/>
              Rowm<br/>
            </p>
            <h3>Sample Input</h3>
            <p>
              1<br/>
              3x3<br/>
              hello hi there<br/>
              how are you<br/>
              abc def cfg<br/>
              lmn opq rst<br/>
              jpeg jpg doc<br/>
              pdf psd ppt
            </p>
            <h3>Sample Output</h3>
            <p>
              hlelmnlo jhpeig tphedfre<br/>
              ohpqow ajrepg pysdou<br/>
              arbcst ddocef cpfgpt
            </p>
            <h3>Explanation</h3>
            <p>
              2nd matrix is transposed.<br/>
              Starting from 1st row, 1st word of 1st matrix. Take first character from 1st matrix followed by 1st character of 2nd matrix. Then 2nd and 3rd char of 1st matrix and 2nd and 3rd char of 2nd matrix and so on.<br/>
              As 1st word has been taken from 1st matrix, start second word from matrix 2 and 3rd from matrix 1 and so on(alternatively).<br/>
              Also as 1st row is taken from 1st matrix, take 2nd from 2nd matrix and so on.
            </p>
          </div>
	  <div *ngIf="question=='TRAVEL'" class="active-question">
		  <h1> Problem </h1>
		  <p>Uno is a travel evangelist. He has reached a situation where he would need your assistance in plotting his journey. There are N cities to which he need to travel. Before traveling to an i-th city some other cities have to be visited first. There are M such relations available. Plot the order in which Uno can travel the whole city network satisfying all the relations
		  </p>
		  <h3> Input Format </h3>
		  <p>First line will contain 2 numbers N representing number of cities and M representing number of relations.
Next M lines contain 2 integers A and B representing the relation between two cities. (A must be visited before visiting B)</p>
		  <h3> Output Format </h3>
		  <p>On a single line print the order of cities to travel.</p>
		  <h3> Constraints </h3>
		  <p>	1 <= N <= 500
			<br>
			1 <= M <= N*(N-1)/2
			<br>
			1 <= A <= 500
			<br>
			1 <= B <= 500
		  </p>
		  <h3> Sample Input </h3>
		  <p>	6 6
		     	<br>
			1 2
			<br>
			1 3
			<br>
			2 5
		     	<br>
			3 4
			<br>
			5 6
			<br>
			4 6
		  </p>
		  <h3> Sample Output </h3>
		  <p>
			1 3 4 2 5 6
		 </p>
	  </div>
	  <div *ngIf="question=='PATTERNS'" class="active-question">
		<h1> Problem </h1>
		  <p>Make the following pattern from the input.
			Example
			<br>
			Accept any input word.say "abcdef"
			<br>
			.....a
			<br>
			....aba
			<br>
			...abcba
			<br>
			..abcdcba
			<br>
			.abcdedcba
			<br>
			abcdefedcba
			<br>
			.fedcbcdef
			<br>
			..fedcdef
			<br>
			...fedef
			<br>
			....fef
			<br>
			.....f
		</p>

		  <h3> Input Format </h3>
		  <p>The word of length n</p>
		  <h3> Output Format </h3>
		  <p>As in the example</p>
		  <h3> Sample Input </h3>
		  <p>abcdef</p>
		  <h3> Sample Output </h3>
		  <p><br>
			.....a
			<br>
			....aba
			<br>
			...abcba
			<br>
			..abcdcba
			<br>
			.abcdedcba
			<br>
			abcdefedcba
			<br>
			.fedcbcdef
			<br>
			..fedcdef
			<br>
			...fedef
			<br>
			....fef
			<br>
			.....f</p>
	  </div>
	  <div *ngIf="question=='CANDY'" class="active-question">
		<h1> Problem </h1>
		  <p>Peter and Jack have N number of candies. Both of them doesnt want to share it with each other. So they decided to play a game and decide who gets to keep all the candies.

The game goes like this initially, there are N candies and an Array is given. In each move, one can select an element from the array whose value is less than or equal to the number of candies left and can remove that number of candies from the heap. If anyone of them cannot make a move, he loses the game. Peter always start the game and both of them play optimally. Who gets all the candies?


		</p>

		  <h3> Input Format </h3>
		  <p>The first line contains T denoting the number of test cases.
Each test case contains 3 lines:
First line contains N denoting the initial number of stones.
The second line contains M denoting the size of the array.
Third line contains M space seperated integers denoting the values of the array.
</p>
		  <h3> Output Format </h3>
		  <p>For each testcase print the winner, either Peter or Jack.</p>
		<h3> Constraints </h3>
		  <p>	1 <= T <= 20
			<br>
			1 <= N<= 100000
			<br>
			1 <= M <= 10
			<br>
			1 <= A<sub>i</sub> <= 500
		  </p>
		  <h3> Sample Input </h3>
		  <p>2
<br>
5
<br>
2
<br>
1 5
<br>
4
<br>
3
<br>
1 2 3

</p>
		  <h3> Sample Output </h3>
		  <p>	Peter
			<br>
		     	Jack
		   </p>
	  </div>
	  <div *ngIf="question=='EXARRAYS'" class="active-question">
	  	 <h1> Problem </h1>
		  <p>Consider an Array of non repeating numbers. The array is said to be an EXCEL-lent Array if any of the following conditions hold true.

for every element x in the array.
1. x-1 should also be present in the array
2. x+1 should also be present in the array

Given two integers N and K, find the number of different k-element EXCEL-lent Arrays that could be created using integers [1,n]

Print the number mod 1000000007 on a new line.

		  </p>
		  <h3> Input Format </h3>
		  <p>The first line contains an integer T , denoting the number of test cases
Each line  of the  subsequent lines consists of two space-separated positive integers describing the respective values of  n and k for each test case.</p>
		  <h3> Output Format </h3>
		  <p>Print the number of Excel-lent array for each test case in a new line. Since the number may be too large print number mod 1000000007</p>
		  <h3> Constraints </h3>
		  <p>	1 <= T <= 10
			<br>
			1 <= N <= 1000000
			<br>
			1 <= K <= n
		  </p>
		  <h3> Sample Input </h3>
		  <p>	2
			<br>
			6 4
			<br>
			27 2

		  </p>
		  <h3> Sample Output </h3>
		  <p>
			6
			<br>
			26
		 </p>
	  </div>
	  <div *ngIf="question=='GARLAND'" class="active-question">
	  	 <h1> Problem </h1>
		  <p>Romeo wants to give Juliet a garland. There are C different colors of flowers. There are Fi flowers of i-th color.
<br>
A garland can be created using the following algorithm.
<br>
1: Arrange all the flowers in any order such that flowers of the same color are placed together.
<br>
2: The garland initially consists of only the first flower from the arrangement.
<br>
3: For each subsequent flower in order, join it to a flower of the same color in the garland. If there is no flower of the same color, it can be joined to any flower in the garland.
<br>
All flowers are distinct, even if they have the same color. How many different garlands can be formed by following the above algorithm? Two Garlands are considered different if two flowers are joined by a thread in one configuration, but not in the other.
<br>
NOTE: Think of the FLOWER formation as a tree and not as a straight line. Any number of FLOWERS can be connected to a FLOWER.

		  </p>
		  <h3> Input Format </h3>
		  <p>The first line contains the number of test cases T. Each test case contains C on the first line - the number of colors of flowers. The next line contains C integers, where the i-th integer Fi denotes the number of flowers of the  color.
</p>
		  <h3> Output Format </h3>
		  <p>Output T lines, one for each test case. All answers should be output modulo 1000000007 .</p>
		  <h3> Constraints </h3>
		  <p>	1 <= T <= 20
			<br>
			1 <= C <= 1000000
			<br>
			1 <= F<sub>i</sub> <= 30
		  </p>
		  <h3> Sample Input </h3>
		  <p>	5
			<br>
			2
			<br>
			2 1
			<br>
			2
			<br>
			2 2
			<br>
			1
			<br>
			4
			<br>
			2
			<br>
			3 1
			<br>
			5
			<br>
			1 1 1 1 1
		  </p>
		  <h3> Sample Output </h3>
		  <p>
			2
			<br>
			4
			<br>
			16
			<br>
			9
			<br>
			125
		 </p>
		 <h3> Explanation </h3>
		<p>
	<br>
	Testcase 1:
	<br>
	<br>
Let us label the Flowers A1,A2 and B1. Initially, they can be arranged in 4 ways - "A1,A2,B1", "A2,A1,B1", "B1,A1,A2", and "B1,A2,A1".
<br>
For each of the first two arrangements, an Garland can be formed in 2 ways (A1-A2-B1 or B1-A1-A2 from the first one and A2-A1-B1 or B1-A2-A1 from the second one).
<br>
For each of the last two arrangements, an Garland can be formed in 1 way.
<br>
However, of the total 6 possible Garlands, there are only 2 unique ones : A1 - A2 - B1, and A2 - A1 - B1.
<br>
<br>
Testcase 2:
<br>
<br>
The possible unique Garlands are A1 - A2 - B1 - B2, A1 - A2 - B2 - B1, A2 - A1 - B1 - B2, and A2 - A1 - B2 - B1.
<br>
<br>
Testcase 3:
<br>
<br>
For the third test-case, it might be easier to see there are only  types of graphs on  vertices: the path or the star. It's not hard to see that there are 12 paths and 4 stars
<br>
<br>
Testcase 5:
<br>
<br>
For the fifth test-case, a lot of people claimed that the total number of possible ways is 60. But that is wrong. The correct answer is 125. Here's the hint: Once again, you've to think of it as a tree.
<br>
So one possible arrangement can be:
<br>
A is a root node and has two edges (A-B and A-C). Now, think of B as a sub-root node with two edges (B-D and B-E). Similarly, you can figure out the other possible Flower arrangements. This will lead you to the correct answer.</p>
	</div>
<div *ngIf="question=='CLASSES'" class="active-question">
	  	 <h1> Problem </h1>
		  <p>There are N Classrooms in MEC. Each pair of classess are directly connected by a unique directed path, and each path has its own toll that must be paid every time it is used. You're planning a Visit to MEC, and it should satisfy the following conditions:

You can start in any class.
You must use 2 or more different paths (meaning you will visit 2 or more classes).
At the end of your trip, you should be back in class where you began.
The average cost (sum of tolls paid per path traveled) should be minimum.
Can you calculate the minimum average cost of a visit to MEC.
		  </p>
		  <h3> Input Format </h3>
		  <p>The first line is an integer, N (number of classes).
The N subsequent lines of N space-separated integers each describe the respective tolls on moving from class i to class j ; in other words, the j-th integer of the i-th line denotes the toll for moving from class i to class j.

Note: As there are no paths from one class to the same class, the i-th integer of line i will always be 0 .</p>
		  <h3> Output Format </h3>
		  <p>Print the minimum cost as a rational number p/q (tolls paid over paths moved). The greatest common divisor of p and q should be 1.</p>
		  <h3> Constraints </h3>
		  <p>	1 < N < 500
			<br>
			0 < C <= 200
			<br>
			Paths Covered >= 2
		  </p>
		  <h3> Sample Input </h3>
		  <p>	2
			<br>
			0 1
			<br>
			2 0

		  </p>
		  <h3> Sample Output </h3>
		  <p>
			3/2
		 </p>
		 <h3> Explanation </h3>
		 <p> The toll from class C<sub>0</sub> to class C<sub>1</sub> is 1.
<br>
 The toll from c1 to c0 is 2.
<br>
Your travel cost p = 1 + 2 = 3.
<br>
Your number of roads traveled is q = 2. Thus, we print 3/2 as our answer. </p>
	  </div>
    <br/>
    <div class="upload-popup">
      <div class="popup-container">
        <h1>Submit answer</h1>

        <div class="row">
          <div class="col-lg-4">
            <form>
              <div class="form-group">
                <label class="form-control-label" for="lang">Select language</label>
                <select class="form-control lang-select" id="lang" name="lang" [(ngModel)]="lang">
                  <option value="{{ langs_allowed_ids[i] }}" *ngFor="let l of langs_allowed; let i=index">
                    {{ l }}
                  </option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="uploads" *ngIf="file">
          <div class="upload-item">
            <div class="upload-item-top">
              <span class="filename">{{ file.name }}</span>
              <span class="progress-data">
                {{ file.progress.data.percentage }}% at {{ file.progress.data.speedHuman }} eta {{ file.progress.data.eta }}s
              </span>
              <span class="x" (click)="removeFile(file.id)">
                <i class="fa fa-times"></i>
              </span>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" [class.progress-bar-info]="file.progress.data.percentage !== 100" [class.progress-bar-success]="file.progress.data.percentage === 100" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" [style.width]="file.progress.data.percentage + '%'">
                <span class="sr-only">{{ file.progress.data.percentage }}% Complete</span>
              </div>
            </div>
          </div>
          <div>
            <a href="/games/hashinclude/my-submissions" [routerLink]="'/games/hashinclude/my-submissions'" class="btn btn-primary">View submission result</a>
          </div>
        </div>

        <div *ngIf="showFileSizeError">
          <div class="alert alert-warning">
            Max file size allowed: 10KB
          </div>
        </div>

        <div class="drop-container is-drop-over" *ngIf="!file" ngFileDrop (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
          <p>
            <i class="fa fa-file-code-o"></i>
          </p>
          <br/>
          <h1>Drag & Drop</h1>
          <p>
            <span>your file here</span>
          </p>
          <p>
            <span>or</span>
          </p>
          <p>
            <label class="upload-button">
              <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
              browse
            </label>
          </p>
        </div>
      </div>
    </div>
	</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="recent-submissions">
        <h3>Recent Submissions</h3>
        <table class="table table-fluid">
          <tr>
            <th>Problem</th>
            <th>Verdict</th>
            <th>Language</th>
          </tr>
          <tr *ngFor="let sub of mysub">
            <td>#{{ sub.pid }}</td>
            <td>
              <span class="verdict verdict-{{ sub.verdict }}">
                <i class="fa fa-check"></i>
              </span>
              {{ sub.verdict }}
            </td>
            <td>{{ sub.lang }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
