.question-statement {
  padding: 0 2em;

  h2 {
    color: #c53726;
  }
  p {
    font-family: "Courier New", "Courier", sans-serif;
    color: lightgrey;
    border-left: 4px solid white;
    padding-left: 1.4em;
    margin-bottom: 2em;
    white-space: pre-wrap;
  }
}

.editor-plus-toggle {
  .editor-wrapper {
    height: 30vw;

    .toolbar {
      background-color: #f4f4f4;
      padding: 7px 5px;
      border-radius: 3px 3px 0 0;

      .row {

        margin: 0;

        h5 {
          float: left;
          margin: 0;
          margin-left: 0.3em;
          margin-top: 0.3em;
          font-family: "Raleway";
          font-weight: bold;
          color: #383838;
        }

        span {
          float: right;
          display: inline-block;
          width: 10px;
          height: 10px;
          background: #282822;
          border-radius: 100%;
          margin-right: 0.4em;
          margin-top: 0.4em;
          margin-bottom: 0.4em;

          &.red {
            background: #d27070;
          }

          &.green {
            background: #00bd5f;
          }

          &.blue {
            background: #689bcd;
          }
        }

      }
    }

    .submit-wrapper {
      a.btn {
        position: relative;
        float: right;
        top: -2.6em;
        right: 0.5em;
        background: transparent;
        border-color: #878787;
        font-size: 20px;
        margin-left: .5em;
        color: #878787;
      }
    }


  }

  .toggle-terminal {
    font-size: 25px;
    color: white;
    cursor: pointer;
  }

}

.terminal-wrapper {
  .terminal-new {
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 12px;
    color: white;
    background-color: #222d32;
    border-radius: 4px;
    min-height: 32vw;
    position: relative;
    top: -7px;
  }

  .terminal-new * {
    font-family: "Consolas", "Courier New", "Courier";
  }

  .terminal-new .terminal-taskbar {
    background-color: #13191c;
    padding: 11px 15px;
    margin-top: 5px;
    border-radius: 4px 4px 0 0;

    h5 {
      float: right;
      position: relative;
      top: -5px;
      font-weight: bold;
      color: #cfd8dc;
    }
  }

  .terminal-new .terminal-taskbar span {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00bcd4;
    display: inline-block;
  }

  .terminal-new .terminal-body {
    padding: 14px;
    max-height: 29vw;
    overflow-y: auto;
    width: 100%;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: dimgrey;
      border-radius: 5px;
    }

  }

  .terminal-new .previous-commands {

  }

  .terminal-new .command-prompt {

  }

  .terminal-new .command-prompt input[type='text'] {
    background: transparent;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  .terminal-new .the-user {
    color: #93e1ff;
    font-weight: bold;

    span {
      color: #6f9fcf;
    }
  }

  .terminal-new .command-container {
    margin-left: 0.3em;
    width: 22vw;
  }
}
