<div *ngIf="level">
  <div class="game-status content">
    <div class="float-right status-data">
      <span class="red">LEVEL</span>
      <span class="white">{{ level.level }}</span>
      <span class="red">RANK</span>
      <span class="white" *ngIf="myrank">{{ myrank }}</span>
    </div>
    <div class="cb"></div>
  </div>
  <div class="game-content content">
    <div class="question-statement" *ngIf="level.level > 7">
      <h2>Congratulations</h2>
      <p>
        You have successfully completed Echo!
      </p>
      <p>
        See ya at Excel 2017!
      </p>
    </div>
    <div class="question-statement" *ngIf="!(level.level > 7)">
      <h2>Problem Statement</h2>
      <p [innerHTML]="level.question" *ngIf="level.question"></p>
    </div>
    <div class="row" *ngIf="!(level.level > 7)">
      <div [ngClass]="{ 'col-lg-7': terminalVisible, 'col-lg-12': !terminalVisible }">
        <div class="editor-div">
          <div class="row editor-plus-toggle">
            <div class="col-lg-1" *ngIf="!terminalVisible"></div>
            <div [ngClass]="{ 'col-lg-10': !terminalVisible, 'col-lg-11': terminalVisible }">
              <div class="editor-wrapper">
                <div class="toolbar">
                  <div class="row">
                    <h5>code.sh</h5>
                    <span class="blue"></span>
                    <span class="green"></span>
                    <span class="red"></span>
                  </div>
                </div>
                <div class="editor-wrapper">
                  <!-- <button class="btn btn-primary">
                    Submit code
                  </button> -->
                  <ace-editor
                         [(text)]="text"
                         [mode]="'sh'"
                          #editor style="height:100%;"></ace-editor>
                </div>
                <div class="submit-wrapper">
                  <a class="btn btn-primary" (click)="saveCode()">Save</a>
                  <a class="btn btn-primary" (click)="submitLevel()"><i class="fa fa-play"></i> Run with arguments</a>
                </div>
                <br/>
                <div class="alert alert-success" *ngIf="showSaved">Saved!</div>
              </div>
            </div>
            <div class="col-lg-1">
              <i class="fa toggle-terminal" title="Toggle terminal" [ngClass]="{ 'fa-caret-square-o-left': !terminalVisible, 'fa-caret-square-o-right': terminalVisible }" (click)="terminalVisible = !terminalVisible"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5" *ngIf="terminalVisible">

        <div class="terminal-wrapper">
          <div class="terminal-new" (click)="commandTextBox.nativeElement.focus()" (keyup.arrowup)="loadPrevCommand($event)" (keyup.arrowdown)="loadNextCommand($event)">
            <div class="terminal-taskbar">
              <span></span>
              <span></span>
              <span></span>
              <h5>Terminal</h5>
            </div>
            <div id="terminal" class="terminal-body">
              <div class="previous-commands">
                <div *ngFor="let command of visibleCommands">
                  <div class="float-left the-user">
                    user@ubuntu:<span>~</span>$
                  </div>
                  <div class="float-left command-container">
                    {{command.usercommand}}
                  </div>
                  <div class="cb"></div>
                  <div class="command-output" [innerHTML]="command.output">
                  </div>
                </div>
              </div>
              <div class="command-prompt" *ngIf="promptVisible">
                <div>
                  <div class="float-left the-user">
                    user@ubuntu:<span>~</span>$
                  </div>
                  <div class="float-left command-container">
                    <input type="text" #commandTextBox [(ngModel)]="newCommand" id="newCommand" name="newCommand" (keyup.enter)="addCommand(false)" />
                  </div>
                  <div class="cb"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
