<div class="ticker">
  <div class="marquee" behavior="scroll" direction="left">
    <span *ngIf="tickerData && tickerData != []" class="all-companies" >
      <span class="tickerCompany" *ngFor="let c of tickerData">
        <span class="company-name">{{ c.name }}</span>
        <span class="current-price">{{ c.current_price }}</span>
        <span class="percentage-change positive-change" *ngIf="c.change_per >= 0">
          <i class="fa fa-arrow-up"></i>
          +{{ c.change_per }}%
        </span>
        <span class="percentage-change negative-change" *ngIf="c.change_per < 0">
          <i class="fa fa-arrow-down"></i>
          {{ c.change_per }}%
        </span>
      </span>
    </span>
  </div>
</div>
<br/>
<br/>
<div class="content">
  <div class="row">
    <div class="col-lg-6 companies-stock-data">
      <div class="search-wrapper">
        <input type="search" name="search" id="search" class="search-input" placeholder="Search" [(ngModel)]="searchKeyword" (keyup)="refreshSearchStatus()">
      </div>
      <div class="companies-list" *ngIf="tickerData">
        <div class="company" *ngFor="let c of filteredSearchResults" (click)="openStockPanel(c.name)">
          <div class="row">
            <div class="float-left">
              <h1>{{ c.name }}</h1>
              <p>{{ stockMap.map[c.name] }}</p>
            </div>
            <div class="float-right">
              <div class="data">
                <span class="current-price">{{ c.current_price }}</span>
                <span class="percentage-change positive-change" *ngIf="c.change_per >= 0">
                  <i class="fa fa-arrow-up"></i>
                  +{{ c.change_per }}%
                </span>
                <span class="percentage-change negative-change" *ngIf="c.change_per < 0">
                  <i class="fa fa-arrow-down"></i>
                  {{ c.change_per }}%
                </span>
                <br/>
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-dalalbull-stock class="col-lg-6" [@visibility]="stockVisibility" *ngIf="activeStock&&userPortfolio" [stock]="activeStock" (onClose)="closePanel()" [cash_available]="userPortfolio.cash_bal" [total_transactions]="userPortfolio.total_transactions"></app-dalalbull-stock>
    <div class="col-lg-6 graph-userdata" [@blurStatus]="blurStatus">
      <div height="400px">
        <canvas #testChart='base-chart' baseChart width="100%"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"></canvas>
      </div>
      <br>
      <div class="user-data" *ngIf="userPortfolio">
        <div class="row">
          <div class="col-lg-6">
            <h1>{{ userPortfolio.rank }}</h1>
            <h3>Rank</h3>
          </div>
          <div class="col-lg-6">
            <h1>{{ userPortfolio.net_worth }}</h1>
            <h3>Net worth</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h1>{{ userPortfolio.cash_bal }}</h1>
            <h3>Cash available</h3>
          </div>
          <div class="col-lg-6">
            <h1>{{ userPortfolio.margin }}</h1>
            <h3>Margin</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
