<div class="content">
  <ul class="nav nav-tabs">
    <li [ngClass]="{'active': currentTab=='completed'}"><a href="/games/dalalbull/history/completed" [routerLink]="'/games/dalalbull/history/completed'">Completed Transactions</a></li>
    <li [ngClass]="{'active': currentTab=='pending'}"><a href="/games/dalalbull/history/pending" [routerLink]="'/games/dalalbull/history/pending'">Pending Transactions</a></li>
  </ul>
  <h2>Transaction History</h2>
  <table class="table table-responsive" *ngIf="currentTab=='completed'">
    <tr>
      <th>#</th>
      <th>Company</th>
      <th>Buy / Short Sell</th>
      <th>Time</th>
      <th>Price</th>
      <th>quantity</th>
      <th>Total</th>
    </tr>
    <tbody *ngIf="history">
      <tr *ngFor="let record of history; let i=index">
        <td>
          {{ i+1 }}
        </td>
        <td>
          {{ record.symbol }}
        </td>
        <td>
          {{ record.buy_ss }}
        </td>
        <td>
          {{ record.time }}
        </td>
        <td>
          {{ record.price }}
        </td>
        <td>
          {{ record.quantity }}
        </td>
        <td>
          {{ record.total }}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-responsive" *ngIf="currentTab=='pending'">
    <tr>
      <th>#</th>
      <th>Company</th>
      <th>Buy / Short Sell</th>
      <th>Current Price</th>
      <th>quantity</th>
      <th>Desired price</th>
    </tr>
    <tbody *ngIf="history">
      <tr *ngFor="let record of history; let i=index">
        <td>
          {{ i+1 }}
        </td>
        <td>
          {{ record.symbol }}
        </td>
        <td>
          {{ record.type }}
        </td>
        <td>
          {{ record.current_price }}
        </td>
        <td>
          {{ record.quantity }}
        </td>
        <td>
          {{ record.value }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
