table {
  font-size: 30px;
  color: #b9b9b9;
}

.nav-tabs {
  margin-bottom: 1em;
  border-bottom: 0px;
  float: right;
  font-size: 1.4em;

  li {
    &.active {
      a {
        color: dimgrey;

        &:hover {
          background: white !important;
        }
      }
    }
    a {
      border-radius: 0;
      border: 1px solid white;
      color: white;

      &:hover {
        background: transparent;
      }
    }
  }
}
