<div class="game-content content">
	<div class="row">
		<div class="col-lg-12"></div>
		<br>
		<br>
		<br>
		<div class="col-lg-1"></div>
		<div class="col-lg-6">
			<div class="row title-box">
				<div class="col-lg-4 title" (click)="clicked(1)" [ngClass]="{ 'sel': i==1 }">Description</div>
				<div class="col-lg-4 title" (click)="clicked(2)" [ngClass]="{ 'sel': i==2 }">Metric</div>
				<div class="col-lg-4 title" (click)="clicked(3)" [ngClass]="{ 'sel': i==3 }">Dataset</div>
				<br>
				<br>
				<div class="col-lg-11 content-box">
					<div *ngIf="i==1">
					<br>
					This competition focuses on the problem of multi label categorization of news articles.
					<br>
					<br>
					In many real-world scenarios, the ability to automatically classify documents into a fixed set of categories is highly desirable. Common scenarios include
					classifying a large amount of unclassified archival documents such as newspaper articles, legal records and academic papers.
					<br>
					<br>
					Newspaper articles provide a particularly good opportunity for learning such classifications, as the semantic content of articles is generally coherent, and large, open
					source corpuses of labelled news articles exist and are easily accessible.
					<br>
					<br>
					</div>
					<div *ngIf="i==2">
						<br>
						Your score is the percentage of articles that you've correctly classified.
						<br>
						<br>
						Note :
						<br>
						<br>
						After the completion of the event , the Top 20% participants will have to upload the models used for a separate private judging.
						This is done so as to prevent participants from over fitting  or hard-coding on the test dataset.
						<br>
						<br>
					</div>
					<div *ngIf="i==3">
						<br>
						The dataset consists of over 2000 labelled articles.
						<a href="http://mlg.ucd.ie/files/datasets/bbc.zip" class="dlBtn">Download dataset</a>
						<br>
					</div>

				</div>
				<br>
				<br>
			</div>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-3 recent-submissions">
     			 <div class="rs-content">
        			<h3 class="subhead">Recent Submissions</h3>
        			<table class="table table-fluid">
          				<tr>
            					<th>Submission ID</th>
            					<th>Accuracy</th>
						<th>Verdict</th>
          				</tr>
          				<tr *ngFor="let sub of mysub">
            					<td>#{{ sub.pid }}</td>
            					<td>{{ sub.accuracy }}</td>
						<td>{{ sub.verdict }}</td>
          				</tr>
        			</table>
      			</div>

		</div>
	</div>
</div>
