.title-box
{
	background-color: #181818;
}
.title
{
	font-size: 30px;
	color: #fff;
	font-weight: 400;
	margin-top: 20px;
	padding-left: 0.8em;
	cursor: pointer;
}

.title.sel {
	border-bottom: 1px solid white;
}

.dlBtn {
	color: white;
	background: #ab2e17;
	text-decoration: none;
	display: block;
	padding: 5px 7px;
	margin: 1em 0;
	text-align: center;
}

.content-box
{
	background-color: #222222;
	color: #D3D3D3;
	font-size: 22px;
	font-family: Lato;
	font-weight: 300;
	margin-left: 4%;
	margin-bottom: 30px;
}

.recent-submissions
{
	background-color : #181818;
}

.rs-content
{
	margin-left: 5px;
	margin-right: 5px;
}
