<div class="content">
  <h2>Ranklist</h2>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Level</th>
    </tr>
    <tbody *ngIf="ranklist">
      <tr *ngFor="let record of ranklist; let i=index">
        <td>
          {{ record.rank }}
        </td>
        <td>
          <img src="{{ record.pic }}" alt="" class="propic">
          {{ record.username }}
        </td>
        <td>
          {{ record.level }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
