@font-face {
    font-family: BebasNeue;
    src: url(assets/fonts/BebasNeue.ttf)
}

#movingNetworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5
}

body {
    background: #1e1e1e;
    font-family: BebasNeue;
    color: #1b9c89
}

.progressive-loader-wrapper {
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 2px
}

.progressive-loader {
    position: fixed;
    top: 0;
    background-color: #1b9c89;
    height: 3px;
    -webkit-animation: loader 2s infinite;
    z-index: 100;
    width: 100%
}

@-webkit-keyframes loader {
    0% {
        left: -100%
    }
    100% {
        left: 100%
    }
}

@keyframes loader {
    0% {
        left: -100%
    }
    100% {
        left: 100%
    }
}

app-root {
    z-index: 100
}

app-root .main-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px
}

* {
    -webkit-transition: .1s ease;
    transition: .1s ease;
    outline: 0
}

@-webkit-keyframes fade-in {
    from {
        position: relative;
        top: -4px;
        opacity: 0
    }
    to {
        position: relative;
        top: 0;
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        position: relative;
        top: -4px;
        opacity: 0
    }
    to {
        position: relative;
        top: 0;
        opacity: 1
    }
}

a,
a:hover {
    color: #1b9c89;
    text-decoration: none
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    font-family: Quicksand;
    background-image: url(assets/images/sidebar.png);
    background-size: 100% 100%;
    color: #1e1e1e;
    vertical-align: middle;
    display: table;
    z-index: -1
}

@media (max-width:700px) {
    nav {
        display: none
    }
}

nav h1 {
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    color: #fff
}

nav h1 span {
    font-size: 135px;
    display: block
}

nav h1 i {
    font-size: 150px!important;
    display: block!important
}

nav img.explay-logo {
    width: 70%
}

nav img.excel-logo {
    margin: 1em 0 0 1.5em;
    cursor: pointer;
    width: 20%
}

nav img.user-icon {
    position: absolute;
    bottom: 1em;
    left: .5em;
    width: 30px;
    cursor: pointer
}

nav .user-count {
    position: fixed;
    bottom: 4em;
    left: .5em;
    background-color: #4e0b13;
    color: #fff;
    padding: .5em .8em;
    font-size: 1em;
    border-radius: 4px
}

nav .user-count .active {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #90ee90;
    margin-right: .4em
}

nav .user-count b {
    font-size: 2em;
    margin-right: .2em;
    position: relative;
    top: 4px
}

.game-status {
    margin-bottom: 3em
}

.game-status .status-data .red {
    font-size: 22px;
    margin-left: 1em;
    position: relative;
    bottom: 1em
}

.game-status .status-data .white {
    font-size: 54px;
    color: #fff
}

.content {
    width: 90%
}

@media (min-width:700px) {
    .mobile-nav {
        display: none
    }
}

@media (max-width:700px) {
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: #1b9c89
    }
}

@media (max-width:700px) {
    .mobile-nav .explay-logo {
        width: 25%;
        cursor: pointer
    }
}

@media (max-width:700px) {
    .mobile-nav .user-icon {
        width: 5%;
        float: right;
        cursor: pointer
    }
}

.main-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    z-index: -1
}

@media (max-width:700px) {
    .main-content {
        top: 7.1em
    }
}

.main-content .top-banner {
    border-bottom: 2px solid #3c3c3b;
    width: 90%
}

.main-content .top-banner h1 {
    font-size: 4em;
    margin-bottom: 0;
    float: left
}

.main-content .top-banner .tabs {
    float: right
}

@media (max-width:700px) {
    .main-content .top-banner .tabs {
        margin-bottom: 2.5em
    }
}

.main-content .top-banner .tabs a {
    background-color: #0c7974;
    padding: .7em 1em;
    margin-left: 1em;
    position: relative;
    top: .5em;
    font-size: 20px;
    border-radius: 0 0 4px 4px;
    color: #fff
}

@media (max-width:700px) {
    .main-content .top-banner .tabs a {
        background: 0 0;
        border: 3px solid #fff;
        border-radius: 0;
        padding: 5px 7px;
        margin: 0;
        display: inline-block;
        margin-bottom: .5em
    }
}

@media (min-width:700px) {
    .dock-container {
        position: fixed;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: -1
    }
}

.float-right {
    float: right!important
}

.float-left {
    float: left!important
}

.cb {
    clear: both
}

.notreleasedyet {
    margin-top: 3em;
    text-align: center;
    color: #fff;
    font-size: 4em
}

@media (max-width:700px) {
    .notreleasedyet {
        font-size: 2em!important
    }
}

.notreleasedyet i {
    font-size: 4.07em
}

.top-banner .game-icon {
    height: 3em;
    float: left;
    margin-right: 1em;
    margin-top: 1.4em;
    margin-left: .5em
}